*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 1360px;
    margin: auto;
}
.header ul{
    display: flex;
    list-style: none;
    gap: 20px;  

}
.header ul li a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.header ul li:hover a{
    color: #30B868;

}



.navParent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px ;

}
.headerButton{
    background-color: #30B868;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.headerButton:hover{
    background-color: #787c7a;
    
}



.hero{
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 70px 0px 130px 0px;
    text-align: center;
}

.herocontainer{
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.extratext {
    background-color: white;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 5px ;
    border-radius: 15px;

}

.point{
    width: 6px;
    height: 6px;
    background-color: #30B868;
    border-radius: 50%;
}
.herocontainer h1 {
    font-size: 50px;
    color: white;
    margin-top: 25px;
    margin-bottom:25px ;

}

.herocontainer h1 p{
    color: #30B868;

}

.heroinfo{
    color: white;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
}

.firstbutton{
    background-color: #30B868;
    color: white;
    padding: 10px 15px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.firstbutton:hover{
    background-color: #5c615e;
}
.secbutton{
    background: transparent;
    padding: 10px 15px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.secbutton:hover{
    background-color: #b9eb07;
    color: black;
    border: none;
}
.fistcardheading{
    text-align: center;
    margin-top: 40px;

}
.fistcardheading p{
 font-size: 13px;
 margin-top: 10px;

}
.child div{
    background-color: #F95555;
    width: 30px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbaba{
    display:flex;
    justify-content: space-between;
    margin-top:35px;

}



.child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px rgba(104, 99, 99, 0.795);
    width: 250px;
    height: 230px;
    gap: 30px;
    padding: 0px 15px;
    text-align: center;
    border-radius: 10px;

}

.child h1{
    font-size: 22px;   
}
.child p{
    font-size: 14px;   
}
.mainbaba{
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap:50px
}
.Solution{
  color: #30B868;  
  text-transform: uppercase;
  font-size: 15px;

}
.knowledgebox h1{
    line-height: 40px;
    margin: 20px 0px;
}
.parsonal{
    font-size: 13px;
    line-height: 20px;
}

.knowledgelist{
    margin-top:27px;
    font-size: 16px;
}
.knowledgelist p{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.bonusbaba{
    background-color: #F7F6F2;
    padding: 70px;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;

}

.bonusbaba h1{
    font-size: 28px;
    margin-bottom: 15px;
}
.bonusbaba p{
    font-size: 14px;
    color: rgb(80, 78, 78);
    margin-bottom: 15px;

}

.bonusbutton{
     background-color: #30B868;
    color: white;
    padding: 10px 15px;
    margin-right: 15px;
    border: none;
    margin-bottom: 15px;
     cursor: pointer;
     border-radius: 10px;

}


.bonusbutton:hover{
    background-color: #5c615e;
}
 footer{
    background-color:#001931;
    color: white;
    padding: 118px 0px;
    margin-top: 50px;
 }

.footerbaba{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.Socialbox{
    padding-right: 120px;
}

.copyright{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.iconbox i {
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 100%;
    cursor: pointer;
   

}
.iconbox {
    margin-top: 13px;
    display: flex;
    gap: 10px;
}


